# macOS
.DS_Store

# Build
build/
DerivedData/

# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout

# Swift Package Manager
Packages.resolved
.swiftpm/
.build/
LocalPackage/Package.resolved

# Test
TestResults/
